# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables (never copy .env into the image)
.env

# Django media/uploads
media/ides
media/portfolio
media/products

# Django migrations
# Ignore all migration .py files except __init__.py
**/migrations/*.py
!**/migrations/__init__.py
**/migrations/*.pyc
**/migrations/__pycache__/

# SQLite DB (if using local sqlite, don't include it in the image)
db.sqlite3

# IDE/project files
.idea/

# Docker files (optional)
Dockerfile
docker-compose.yml
