DEBUG=0
SECRET_KEY=m@4j%f!nprftp=fuyh1oe&p5z!lp9xk$uz^r_(c0y7l58+5l$%
ALLOWED_HOSTS=173.249.15.15,localhost,127.0.0.1,extrapaints.co.ke,www.extrapaints.co.ke
CSRF_TRUSTED_ORIGINS=https://173.249.15.15,https://extrapaints.co.ke,https://www.extrapaints.co.ke,http://127.0.0.1,http://localhost

POSTGRES_DB=extrapaints
POSTGRES_USER=extrapaints
POSTGRES_PASSWORD=ZLZnl80DB0jGhHZ727uHsWAL

MEDIA_HOST_PATH=/home/james/extrapaints/media

BUSINESS_PHONE_PRIMARY=+254725752908
BUSINESS_WHATSAPP=254725752908

SOCIAL_TIKTOK=https://www.tiktok.com/@extrapaints400

USE_SECURE_PROXY=1
SECURE_SSL_REDIRECT=0
SECURE_HSTS_SECONDS=31536000

PUBLIC_SITE_URL=https://www.extrapaints.co.ke
TAILWIND_CDN=0
STATIC_VERSION=4
LOG_LEVEL=INFO
GUNICORN_WORKERS=3

EMAIL_HOST=mail.extrapaints.co.ke
EMAIL_PORT=465
EMAIL_HOST_USER=info@extrapaints.co.ke
EMAIL_HOST_PASSWORD=<your-password-no-quotes>
DEFAULT_FROM_EMAIL=ExtraPaints <info@extrapaints.co.ke>
SERVER_EMAIL=info@extrapaints.co.ke
SALES_TEAM_EMAIL=sales@extrapaints.co.ke
ADMIN_EMAIL=jamesmatata@schnell.solutions